@font-face {
	font-family: Oldenburg;
	src: url("./assets/Oldenburg-Regular.ttf");
}

body {
	font-family: Oldenburg;
	background: #1f1e4d;
	outline: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
#main {
	color: beige;
	line-height: 1.7;
}

h1 {
	text-align: center;
	color: red;
	filter: blur(1px);
	filter: drop-shadow(0px 16px 20px rgb(219, 120, 219));
	font-size: 5vw;
	margin-bottom: 30px;
}

.btn {
	font-size: 0.9rem;
	transform: scale(1);
	margin: 10px;
	padding: 7px;
	color: orangered;
	background-color: darkblue;
	border: solid 1px turquoise;
	border-radius: 10px;
	opacity: 1;
	transition: all 0.5s;
	width: 80%;
	max-width: 150px;
	outline: none;
}

.btn:hover {
	transform: scale(1.1);
	border: outset 2px turquoise;
	color: red;
	transition: all 0.3s;
}

.btn:active {
	border: inset 2px lightseagreen;
	color: orangered;
}

.btn:disabled {
	color: darkslategray;
	transform: scale(0.1);
	opacity: 0;
	transition: all 0.7s;
}

#page {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	color: white;
	overflow: hidden;
}

#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column-start: 1;
	grid-column-end: span 3;
	color: #fff;
	height: 100%;
	width: 100%;
}

#topMenu,
#selectBar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height: 33%;
	align-items: center;
}

#topMenu {
	background-image: linear-gradient(to right, #1f1e4d, purple);
}

#selectBar {
	background-image: linear-gradient(to left, #1f1e4d, darkgreen);
}

#extraInfo {
	width: 100%;
}

.ker {
	font-size: 3vw;
	background-image: radial-gradient(royalblue 75%, darkblue);
	text-align: center;
	align-content: center;
	border: 2px solid #1f1e4d;
	border-radius: 20px;
}



.navBtn,
.navPic {
	height: 29px;
}

.navBtn,
#soundBtn {
	border: 2px solid lightcyan;
	border-radius: 5px;
}

#soundBtn {
	padding: 3px;
	height: 23px;
	background-color: darkturquoise;
}

.navBtn {
	background-color: blue;
	color: lime;
	border-radius: 5px;
	outline: none;
}

.navBtn:disabled {
	color: lightgrey;
	background-color: darkgrey;
}

.navPair {
	display: flex;
	align-items: center;
	gap: 2vw;
}

.navPic {
	display: inline-block;
	border-radius: 5px;
}

/* .navNr {
	display: inline-block;
} */