@font-face {
	font-family: Oldenburg;
	src: url("./assets/Oldenburg-Regular.ttf");
}

body {
	font-family: Oldenburg;
	background: #1f1e4d;
	font-size: 0.9rem;
	outline: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
#main {
	color: beige;
	line-height: 1.5;
}

p {
	padding: 10px;
}

h1 {
	text-align: center;
	color: red;
	filter: blur(1px);
	filter: drop-shadow(0px 16px 20px rgb(219, 120, 219));
	font-size: 5vw;
	margin-bottom: 30px;
}

.btn {
	display: block;
	transform: scale(1);
	margin: 10px auto;
	padding: 7px;
	color: orangered;
	background-color: darkblue;
	border: solid 1px turquoise;
	border-radius: 10px;
	opacity: 1;
	transition: all 0.5s;
	width: 80%;
	max-width: 150px;
	outline: none;
}

.btn:hover {
	transform: scale(1.1);
	border: outset 2px turquoise;
	color: red;
	transition: all 0.3s;
}

.btn:active {
	border: inset 2px lightseagreen;
	color: orangered;
}

.btn:disabled {
	color: darkslategray;
	transform: scale(0.1);
	opacity: 0;
	transition: all 0.7s;
}

#page {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	color: white;
	overflow: hidden;
}

.nosee {
	display: none;
	height: 0;
	width: 0;
	z-index: 0;
	opacity: 0;
}

.see {
	display: flex;
	height: 100vh;
	width: 100vw;
	z-index: 999;
	opacity: 0.8;
	background-color: whitesmoke;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}

#mescard {
	width: fit-content;
	max-width: 70vw;
	height: fit-content;
	max-height: 70vh;
	font-size: max(1.4vw, 1.1em);
	opacity: 1 !important;
	background-color: darkslategray;
	z-index: 9998;
	border: cyan outset 5px;
	border-radius: 10px;
}

#mescard p {
	color: lightyellow;
	text-align: justify;
}

#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column-start: 1;
	grid-column-end: span 3;
	color: #fff;
	height: 100%;
	width: 100%;
}

#topMenu,
#selectBar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height: 33%;
	align-items: center;
}

#topMenu {
	background-image: linear-gradient(to right, #1f1e4d, purple);
}

#selectBar {
	background-image: linear-gradient(to left, #1f1e4d, green);
}

#extraInfo {
	background-image: linear-gradient(to right, #1f1e4d, darkcyan);
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
	height: 33%;
	align-items: center;
	gap: 2vw;
}

#tVal {
	margin: auto 1vw;
}

#tMinus,
#tPlus {
	transform: scale(1.1);
	color: beige;
}

#tMinus10,
#tPlus10 {
	transform: scale(1.25);
	color: ghostwhite;
}

#tMinus {
	background-color: blue;
}

#tMinus10 {
	background-color: darkblue;
}

#tPlus {
	background-color: red;
}

#tPlus10 {
	background-color: darkred;
}

.ker {
	font-size: max(1.5vw, 1.2em);
	background-image: radial-gradient(royalblue 75%, darkblue);
	text-align: center;
	align-content: center;
	border: 2px solid #1f1e4d;
	border-radius: 20px;
}

.kername {
	font-style: italic;
	font-weight: 500;
	color: blanchedalmond;
}

#kerVisit {
	margin-left: 0;
}


.navBtn,
.navPic {
	height: 29px;
}

.navBtn,
.zeneBtn {
	border: 2px solid lightcyan;
	border-radius: 5px;
	outline: none;
	padding: 4px;
}

.zeneBtn {
	padding: 3px;
	height: 23px;
	background-color: darkturquoise;
}

.zeneIn {
	width: 15vw;
}

#endBtn,
#saveBtn {
	padding: 0;
}

#loadBtn {
	padding: 1px;
}

.centralCont {
	align-items: center;
	justify-content: center;
}


.navBtn:disabled {
	color: lightgrey !important;
	background-color: darkgrey !important;
	border: none !important;
}

.navPair {
	display: flex;
	align-items: center;
	gap: 2vw;
}

.navPic {
	display: inline-block;
	border-radius: 5px;
}

.selected {
	background-color: red;
	color: ghostwhite;
}

.unselected {
	background-color: paleturquoise;
	color: black;
}

.bad {
	color: #f00 !important;
}

.badB {
	background-color: #f00 !important;
}

.neutral {
	color: #fff !important;
}

.good {
	color: #0f0 !important;
}

.goodB {
	background-color: #0f0 !important;
}

.gold {
	color: gold;
}

.aqua {
	color: aqua;
}

.navNr {
	font-size: max(1vw, 1.1em);
}

#modal {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: beige;
	color: black;
	padding: 3vw;
}

#closeKer {
	border: 2px solid darkolivegreen;
	border-radius: 5px;
	margin: 5px 5px 5px auto;
	color: black;
	background-color: ghostwhite;
	font-size: max(1.4vw, 1.1em);
}

#kerNev {
	margin: 10px auto 20px;
	font-size: max(1.5vw, 1.2em);
	font-weight: 600;
	color: blue;
	margin-bottom: 2opx;
}

#kerDesc {
	margin-bottom: 20px;
	background-image: url(./img/paper.JPG);
	padding: 10px;
	width: fit-content;
	border: dotted 1px #ccc;
	border-radius: 10px;
	color: navy;
}

#supField {
	border: 4px ridge aqua;
	border-radius: 9px;
	background-color: lightcyan;
	width: fit-content;
	max-width: 90vw;
}

#supTable {
	border-spacing: 8px;
}

.supLabel {
	text-align: left;
	padding: 4px;
	color: brown;
}

.supBtn {
	width: 10vw;
	border-radius: 5px;
	border: 2px outset darkolivegreen;
	font-weight: 200;
	vertical-align: bottom;
	text-align: center;
}

#statField {
	border: 4px ridge deepskyblue;
	border-radius: 9px;
	background-image: url(./img/tealback.jpg);
	color: black;
	width: fit-content;
	max-width: 90vw;
}

#dumaField {
	border: 1px ridge darkgray;
	border-radius: 9px;
	background-image: url(./img/paper.JPG);
	color: black;
	width: fit-content;
	max-width: 90vw;
	padding: 10px 10px 10px 25px;
}

.kerTitle {
	color: aqua;
	background-color: midnightblue;
	font-weight: 600;
	font-size: 1.4em;
	padding: 10px;
	border-radius: 45%;
}

#statTable {
	border-spacing: 8px;
}

#statHead {
	color: yellow;
	font-style: italic;
}

.statLabel {
	text-align: left;
	padding: 4px;
	color: aqua;
}

#kerBtns {
	display: flex;
	justify-content: space-between;
	width: 80vw;
	margin: 1vh 10vw;
}

#mesBtns {
	display: flex;
	justify-content: space-evenly;
	margin: 1vh 0;
}

.kerBtn,
.mesBtn {
	flex-grow: 1;
	margin: 0 5vw;
	height: fit-content;
	min-height: 35px;
	padding: 5px;
	color: orangered;
	background-color: darkblue;
	border: outset 2px turquoise;
	border-radius: 10px;
	opacity: 1;
	outline: none;
	font-size: min(2.5vw, 1em);
	width: fit-content;
	max-width: 20vw;
}

.kerBtn:disabled {
	opacity: 0.5;
	background-color: darkslategray;
}

ul {
	list-style-type: "- ";
}

li {
	margin-bottom: 5px;
}

#devField {
	background-image: url(./img/papirusback.jpg);
	border: 4px ridge gold;
	border-radius: 9px;
	width: fit-content;
	max-width: 90vw;
}

.devTable {
	background-image: url(./img/blueback.jpg);
	color: floralwhite;
	border-spacing: 0;
	border-radius: 9px;
	max-width: 90vw;
}

.devSub {
	font-size: 1.1em;
	color: oldlace;
	text-shadow: black 2px 1px;
}

.devLabel {
	font-size: 1.2em;
	padding: 4px;
	width: fit-content;
	border-radius: 5px;
	margin-bottom: 5px;
}

#dlCur {
	color: brown;
	background-color: yellow;
}

#dlHas {
	color: lightyellow;
	background-color: blue;
}

#dlBuy {
	color: purple;
	background-color: lightgreen;
}

#dlAlmost {
	color: lightblue;
	background-color: darkslategray;
}

.devTable th {
	background: linear-gradient(to right, slateblue, lightskyblue, lightyellow, white, lightyellow, lightskyblue, slateblue);
	color: darkblue;
	font-weight: 700;
	font-size: .9em;
	width: fit-content;
	max-width: 20vw;
	padding: 5px;
	border: solid 1px skyblue;
}

.devTable td {
	border: solid 1px lightskyblue;
	padding: 5px;
	width: fit-content;
	max-width: 20vw;
	font-size: min(0.9em, 2vw);
}

.devEffects {
	width: fit-content;
}

.devEffects td {
	border: none !important;
	max-width: 10vw;
	padding: 1px;
}

.devBtn {
	text-align: center;
	max-width: 10vw;
	border-radius: 10px;
	border: 2px outset lightcyan;
	padding: 4px;
	font-weight: 600;
	margin: auto;
	font-size: 0.8em;
}

.center {
	text-align: center;
}

#fly {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 1.1em;
	color: aquamarine;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.8);
}

.effBe {
	display: table;
	width: fit-content;
	z-index: 9999;
	transition: filter 1s, top .1s, left .2s;
	filter: brightness(1) opacity(1) blur(0);
}

.effKi {
	width: fit-content;
	z-index: 0;
	transition: filter 1s, top 1s, left 1s;
	filter: brightness(.7) opacity(0) blur(5px);
}

.fly td {
	border: none !important;
	max-width: 10vw;
	padding: 1px;
}

.darken {
	transition: filter 2s;
	filter: brightness(0.1) opacity(0.1) blur(10px);
}

.dark {
	transition: filter 3s;
	filter: brightness(0.4);
}

.brighten {
	transition: filter 1s;
	filter: brightness(1) opacity(1) blur(0);
}

#hf {
	height: 100vh;
	width: 100vw;
	color: white;
	overflow: hidden;
}