@font-face {
	font-family: Oldenburg;
	src: url("./assets/Oldenburg-Regular.ttf");
}

body {
	font-family: Oldenburg;
	background: #1f1e4d;
	outline: none;
	font-size: 1.15em;
	margin: 0 10px;
	padding: 20px;
	box-sizing: border-box;
}